
<div class="portfolio-2 bg-[#FFFFFF] py-1 md:py-2">

    <div class="relative flex-0 py-2 px-4 sm:p-2 overflow-hidden bg-[#FFFFFF] dark">
       
        <div class="z-10 relative flex flex-col items-center">
            
            <div class="mt-1 text-3xl text-[#1D7D81] sm:text-3xl font-extrabold tracking-tight leading-tight text-center">
                My Work and Portfolio
            </div>
           
        </div>
    </div>

   
    <div class="container mt-1 px-4 mx-auto">
  
        
    
  
      <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 md:mt-6 pb-6">
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="bg-clip-text text-[#0C3353] text-xl">Smart MushikaShika</h5>
              <p class="text-[#001730]">A small vendor and sole trader inventory management system.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="bg-clip-text text-[#0C3353] text-xl">Zim One</h5>
              <p class="text-[#001730]">Full e commerce website.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="bg-clip-text text-[#0C3353] text-xl">Task Manager</h5>
              <p class="text-[#001730]">Individual task manager.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="text-transparent text-[#0C3353] bg-clip-text text-xl">Miss P e commerce</h5>
              <p class="text-[#001730]">Cosmetic E commerce.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="bg-clip-text text-[#0C3353] text-xl">Android Task Manager</h5>
              <p class="text-[#001730]">Andriod task manager.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="bg-clip-text text-[#0C3353] text-xl">Student Portal android</h5>
              <p class="text-[#001730]">Andriod app to help student Life.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>