
<div class="portfolio-2 py-1 md:py-2">

    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
       
        <div class="z-10 relative flex flex-col items-center">
            
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                My PORTFOLIO
            </div>
           
        </div>
    </div>

   
    <div class="container px-4 mx-auto">
  
        
    
  
      <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 md:mt-12 pb-6">
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="font-semibold text-xl text-indigo-600 uppercase">Smart MushikaShika</h5>
              <p class="text-gray-600">A small vendor and sole trader inventory management system.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="font-semibold text-xl text-indigo-600 uppercase">Zim One</h5>
              <p class="text-gray-600">Full e commerce website.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="font-semibold text-xl text-indigo-600 uppercase">Task Manager</h5>
              <p class="text-gray-600">Individual task manager.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="font-semibold text-xl text-indigo-600 uppercase">Miss P e commerce</h5>
              <p class="text-gray-600">Cosmetic E commerce.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="font-semibold text-xl text-indigo-600 uppercase">Android Task Manager</h5>
              <p class="text-gray-600">Andriod task manager.</p>
            </div>
          </div>
        </div>
  
        <div class="sm:px-6 sm:w-1/2 lg:w-1/3 mt-8">
          <div class="portfolio-item mx-auto max-w-sm">
            <div class="portfolio-img relative overflow-hidden cursor-pointer">
              <img src="//via.placeholder.com/800x600/666" alt="portfolio image" class="max-w-full h-auto">
              <div class="portfolio-hover"></div>
            </div>
            <div class="px-1 py-4">
              <h5 class="font-semibold text-xl text-indigo-600 uppercase">Student Portal android</h5>
              <p class="text-gray-600">Andriod app to help student Life.</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>