<div class="pt-3 px-2 w-full bg-[#FFFFFF]">
    <div
        class="relative flex-0 py-8 px-4 sm:p-7 overflow-hidden bg-[#FFFFFF] dark"
    >

    <div class="flex justify-between ...">
        <div>
            <div class="flex justify-start ... text-red-500">
                <div>
                    <img class="w-14" src="assets/images/image7.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/js.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/image8.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/image9.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/nodejs.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/django.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/graphql.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/mongodb.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/postgres.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/mysql.png" alt="Logo image">
                </div>
              


              </div>

        </div>


        <div>
            <div class="z-10 relative flex flex-col items-center">
                <div
                    class="mt-1 text-3xl text-[#4AD7D1] sm:text-3xl font-extrabold tracking-tight leading-tight text-center"
                >
                Skills and Interests
                </div>
            </div>

        </div>


        <div>
            <div class="flex justify-start ... text-red-500">
                <div>
                    <img class="w-14" src="assets/images/angular.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/tailwind.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/react.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/git.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/aws.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/azure.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/kubernetes.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/html.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/docker.png" alt="Logo image">
                </div>
                <div>
                    <img class="w-14" src="assets/images/elastic.png" alt="Logo image">
                </div>
              


              </div>
        </div>
      </div>

    

        

       

    </div>

    <div
        class="w-full bg-[#FFFFFF] grid mt-1 w-full grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4"
    >
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
            <div class="mb-5 font-bold mt-1 text-[#4AD7D1]">
                Programming Languages
            </div>
            <div
                class="mb-1 text-base text-[#001730] font-medium dark:text-white"
            >
                C#
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-blue-500"
            >
                Javascript
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-red-500"
            >
                Python
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 85%"
                ></div>
            </div>
            

            <div div class="mt-7 mb-5 font-bold text-[#4AD7D1]">
                Back-End Technologies
            </div>

            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-yellow-500"
            >
                Asp.Net Core
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-indigo-500"
            >
              Node.js 
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-purple-500"
            >
            Django
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 75%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-purple-500"
            >
            GraphQL Services(Hot Chocolate,Apollo)
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>

            <div div class="mt-5 mb-5 font-bold text-[#4AD7D1] ]">
                Databases
            </div>

            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-yellow-500"
            >
                MongoDb
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 75%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-indigo-500"
            >
               PostgreSQL
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 65%"
                ></div>
            </div>
            <div
            class="mb-1 text-base font-medium text-[#001730] dark:text-indigo-500"
        >
         MY SQL
        </div>
        <div
            class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
        >
            <div
                class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                style="width: 65%"
            ></div>
        </div>
        </div>

        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
            <div class="mb-5 font-bold mt-1 text-[#4AD7D1]">
                Front-End Technologies
            </div>
            <div
                class="mb-1 text-base text-[#001730] font-medium dark:text-white"
            >
                Angular
            </div>
            <div
                class="w-full bg-gray-50 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-blue-500"
            >
                React
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-red-500"
            >
                Tailwind CSS
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 85%"
                ></div>
            </div>
          

            <div div class="mt-7 mb-5 font-bold text-[#4AD7D1]">
                DevOps
            </div>

            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-yellow-500"
            >
               Azure 
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-indigo-500"
            >
                Git
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-purple-500"
            >
                AWS
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 75%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-purple-500"
            >
                Docker and Kubernetes
            </div>
            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 95%"
                ></div>
            </div>

            <div div class="mt-5 mb-5 font-bold text-[#4AD7D1] ]">
                Other
            </div>

            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-yellow-500"
            >
                Unit Test
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1] h-1.5 rounded-full"
                    style="width: 75%"
                ></div>
            </div>
            <div
                class="mb-1 text-base font-medium text-[#001730] dark:text-indigo-500"
            >
                Logging(ELK Stack,Serilog)
            </div>
            <div
                class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700"
            >
                <div
                    class="bg-gradient-to-r to-[#001730] from-[#4AD7D1]  h-1.5 rounded-full"
                    style="width: 65%"
                ></div>
            </div>
        </div>
    </div>
</div>
