

<div class="pt-3 px-2">

    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
       
        <div class="z-10 relative flex flex-col items-center">
            
            <div class="mt-1 text-2xl sm:text-2xl font-extrabold tracking-tight leading-tight text-center">
                Skills and Experience
            </div>
           
        </div>
    </div>
    

    <div class="w-full grid mt-3 grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
            
<ol class="relative border-l border-gray-200 dark:border-gray-700">                  
    <li class="mb-10 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2020 - Currently</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Back-End Developer @ 365 Solutions</h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Build out major features of 365 Solution's customer s back-end, utilizing C#,asp.net core,restful apis. Diagnosed issues causing slow speeds in applications, 
            and documented the process to making the database query system more robust.Build a backend for a microservice using Restful services ,graphQL services and Grpc Services running over 5
             0 micro services and hosted as containers on Azure</p>
             <a
             href="#"
             class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg bg-gradient-to-r from-cyan-500 to-blue-500 pulse"
             >Learn more
             <svg
                 class="ml-2 w-3 h-3"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg"
             >
                 <path
                     fill-rule="evenodd"
                     d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                     clip-rule="evenodd"
                 ></path></svg
         ></a>
    </li>
    <li class="mb-10 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Nov 2019 - Feb 2020</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">C++ Relief Teacher</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Helped Student pass exams</p>
        <a
        href="#"
        class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg bg-gradient-to-r from-cyan-500 to-blue-500 pulse"
        >Learn more
        <svg
            class="ml-2 w-3 h-3"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
            ></path></svg
    ></a>
    </li>
    <li class="ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Jan 2018 - Dec 2018</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Software Engineer @ Reformed Church University</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Developed and maintained code for in-house and client websites primarily using php,c#,laravel. Tested code in various browsers and mobile
             devices to ensure cross-browser compatibility and responsiveness. Tested software for bugs and operating speed, fixing bugs and documenting processes to increase efficiency by 18%. </p>
             <a
             href="#"
             class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg bg-gradient-to-r from-cyan-500 to-blue-500 pulse"
             >Learn more
             <svg
                 class="ml-2 w-3 h-3"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg"
             >
                 <path
                     fill-rule="evenodd"
                     d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                     clip-rule="evenodd"
                 ></path></svg
         ></a>
    </li>
</ol>



        </div>

        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">

        <div class="mb-3 mt-1 font-bold">
            Programming Languages
        </div>
            <div class="mb-1 text-base font-medium dark:text-white">C#</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-gray-600 h-1.5 rounded-full dark:bg-gray-300" style="width: 95%"></div>
</div>
<div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-500">Javascript</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-blue-600 h-1.5 rounded-full" style="width: 95%"></div>
</div>
<div class="mb-1 text-base font-medium text-red-700 dark:text-red-500">Python</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-red-600 h-1.5 rounded-full dark:bg-red-500" style="width: 95%"></div>
</div>
<div class="mb-1 text-base font-medium text-green-700 dark:text-green-500">Java</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-green-600 h-1.5 rounded-full dark:bg-green-500" style="width: 65%"></div>
</div>
        
        <div div class="mt-5 mb-2 font-bold">
            Back-End Technologies
        </div>

            <div class="mb-1 text-base font-medium text-yellow-700 dark:text-yellow-500">Restful Services(Asp.Net Core,Node.js,Django)</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-yellow-400 h-1.5 rounded-full" style="width: 95%"></div>
</div>
<div class="mb-1 text-base font-medium text-indigo-700 dark:text-indigo-500">GraphQL Services(Hot Chocolate,Apollo)</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-indigo-600 h-1.5 rounded-full dark:bg-indigo-500" style="width: 75%"></div>
</div>
<div class="mb-1 text-base font-medium text-purple-700 dark:text-purple-500">Database Knowledge(Mongo DB,PostgreSQL,My SQL)</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
  <div class="bg-purple-600 h-1.5 rounded-full dark:bg-purple-500" style="width: 45%"></div>
</div>
<div class="mb-1 text-base font-medium text-purple-700 dark:text-purple-500">Micro Services</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
  <div class="bg-purple-600 h-1.5 rounded-full dark:bg-purple-500" style="width: 65%"></div>
</div>
       

        <div div class="mt-5 mb-2 font-bold">
            Front-End Technologies
        </div>

            <div class="mb-1 text-base font-medium text-yellow-700 dark:text-yellow-500">Angular</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-yellow-400 h-1.5 rounded-full" style="width: 75%"></div>
</div>
<div class="mb-1 text-base font-medium text-indigo-700 dark:text-indigo-500">React</div>
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-gray-700">
  <div class="bg-indigo-600 h-1.5 rounded-full dark:bg-indigo-500" style="width: 65%"></div>
</div>

        </div>


    </div>
</div>
