<div class="pt-3 px-2 w-full bg-[#FFFFFF]">
    <div
        class="relative flex-0 py-8 px-4 sm:p-7 overflow-hidden bg-[#FFFFFF] dark"
    >

    


        
            <div class="z-10 relative flex flex-col items-center">
                <div
                    class="mt-1 text-3xl text-[#1D7D81] sm:text-3xl font-extrabold tracking-tight leading-tight text-center"
                >
                Skills and Interests
                </div>
            </div>

        


       

    

        

       

    </div>

    <div
        class="w-full bg-[#FFFFFF] grid mt-5 sm:mt-10 w-full grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4"
    >
        <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
            <div class="mb-10 font-bold text-lg  mt-1 text-[#0C3353]">
                Programming Languages
            </div>

            <div class="flex flex-row justify-evenly ...">
                <div><img class="w-20" src="assets/images/image7.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/js.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/image8.png" alt="Logo image"></div>
              </div>
           
            

            <div div class="mt-10 mb-10 text-lg font-bold text-[#0C3353]">
                Back-End Technologies
            </div>
            <div class="flex flex-row justify-evenly ...">
                <div><img class="w-20" src="assets/images/image9.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/nodejs.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/django.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/graphql.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/grpc.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/expressjs.png" alt="Logo image"></div>
              </div>


           

            <div div class="mt-10 mb-10 text-lg font-bold text-[#0C3353] ]">
                Databases
            </div>
            <div class="flex flex-row justify-evenly ...">
                <div><img class="w-20" src="assets/images/mongodb.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/postgres.png" alt="Logo image"></div>
                <div> <img class="w-20" src="assets/images/mysql.png" alt="Logo image"></div>
              </div>

           
       
        </div>

        <div class="bg-white shadow rounded-lg p-4 sm:p-6 mb-5 sm:mb-1 xl:p-8">
            <div class="mb-10 font-bold mt-1 text-lg text-[#0C3353]">
                Front-End Technologies
            </div>

            <div class="flex flex-row justify-evenly ...">
                <div><img class="w-20" src="assets/images/angular.png" alt="Logo image"></div>
                <div> <img class="w-20" src="assets/images/tailwind.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/react.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/html.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/blazor.png" alt="Logo image"></div>
              </div>

          

            <div div class="mt-10 mb-10 text-lg font-bold text-[#0C3353]">
                DevOps and Cloud Technologies
            </div>
            <div class="flex flex-row justify-evenly ...">
                <div><img class="w-20" src="assets/images/git.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/docker.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/aws.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/azure.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/kubernetes.png" alt="Logo image"></div>
              </div>

            

            <div div class="mt-10 mb-10 text-lg font-bold text-[#0C3353] ]">
                Other
            </div>
            <div class="flex flex-row justify-evenly ...">
                <div><img class="w-20" src="assets/images/xamarin.png" alt="Logo image"></div>
                <div> <img class="w-20" src="assets/images/elastic.png" alt="Logo image"></div>
                <div><img class="w-20" src="assets/images/image8.png" alt="Logo image"></div>
              </div>

            
        </div>
    </div>
</div>
