<div class="container bg-[#FFFFFF] mx-auto p-2">
    <div class="md:flex no-wrap md:-mx-2">
        <!-- Left Side -->
        <div class="w-full md:w-3/12 md:mx-2">
            <!-- Profile Card -->
            <div class="bg-white p-3 border-t-4 border-[#4AD7D1]">
                <div class="image overflow-hidden">
                    <img
                        class="h-auto w-full mx-auto"
                        src="assets/images/me.jpg"
                        alt=""
                    />
                </div>
                <h1 class="text-gradient-to-r to-[#001730] from-[#4AD7D1] font-bold text-3xl leading-8 my-1">
                    Lesly Blessing Phiri
                </h1>
                <h3 class="mt-2 sm:mt-5 bg-clip-text font-medium text-[#4AD7D1] text-lg sm:text-2xl">
                    Back-End Developer at 365 Solutions
                </h3>
                <p
                    class="text-base sm:text-lg text-[#001730] mt-2 sm:mt-4 leading-normal tracking-normal"
                >
                    Results-oriented Software Engineer and Mobile app developer
                    with 3+ years experience developing, testing, and
                    maintaining enterprise software applications
                </p>

                <p
                    class="text-base sm:text-lg text-[#001730] mt-2 sm:mt-4 leading-normal tracking-normal"
                >
                    Passionate and experienced Back-End Developer with excellent
                    attention to details and problem-solving skills.Confident
                    with designing APIs,web applications, cloud computing
                    services, micro services and databases. Skilled at coding
                    ,software development, upgrading and maintaining
                    applications for maximum performance
                </p>

               
                <a
                    href="#"
                    class="inline-flex items-center bg-[#4AD7D1] py-2 px-4 mt-10 text-sm font-medium text-[#001730] rounded-lg border border-gray-200 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700  inline-flex border-0 py-2 px-6 rounded text-sm pulse"
                    >Download Resume
                    <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                   </a>
            </div>
            <!-- End of profile card -->
            <div class="my-4"></div>
            <!-- Friends card -->

            <!-- End of friends card -->
        </div>
        <!-- Right Side -->
        <div class="w-full md:w-9/12 mx-2 sm:h-64">
            <!-- Profile tab -->
            <!-- About Section -->
            <div class="bg-white  text-[#001730] p-3 shadow-sm rounded-sm">
                <div
                    class="flex sm:items-center sm:space-x-2 font-semibold text-gray-900 leading-8"
                >
                    <span clas="text-[#001730]">
                        <img
                        class="w-10"
                        src="assets/images/image4.png"
                        alt="Logo image">
                    </span>
                    <span class="tracking-wide text-[#4AD7D1] font-bold text-lg sm:text-2xl"
                        >About Me</span
                    >
                </div>
                <div class="text-[#001730] mt-2 sm:mt-5">
                    <div class="grid md:grid-cols-2 sm:text-lg">
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">First Name</div>
                            <div class="sm:px-4 py-2">Lesly Blessing</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">Email</div>
                            <div class="sm:px-4 py-2"> <a
                                class="text-[#001730] underline decoration-indigo-500"
                                href="mailto:phirilesley@outlook.com"
                                >phirilesley@outlook.com</a
                            ></div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">Last Name</div>
                            <div class="sm:px-4 py-2">Phiri</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">LinkedIn</div>
                            <div class="sm:px-4 py-2 underline decoration-indigo-500"><a href="https://www.linkedin.com/in/lesly-phiri-121516214/">lesly-phiri-121516214</a></div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">
                                Gender
                            </div>
                            <div class="sm:px-4 py-2">
                                Male
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">
                                Github
                            </div>
                            <div class="sm:px-4 py-2 underline decoration-indigo-500">
                                <a href="https://github.com/phirilesly">phirilesley</a>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">Phone</div>
                            <div class="sm:px-4 py-2">
                                +263 777 838334
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="sm:px-4 py-2 font-bold">Twitter</div>
                            <div class="sm:px-4 py-2 underline decoration-indigo-500">phirilesley</div>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- End of about section -->

            <div class="my-4"></div>

            <!-- Experience and education -->
            <div class="bg-white  text-[#001730] p-3 shadow-sm rounded-sm">
                <div class="grid sm:grid-cols-2">
                    <div>
                        <div
                            class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3"
                        >
                            <span clas="text-[#001730]">
                                <img
                        class="w-10"
                        src="assets/images/image6.png"
                        alt="Logo image">
                            </span>
                            <span class="tracking-wide text-[#4AD7D1] font-bold text-lg sm:text-2xl"
                                >Experience</span
                            >
                        </div>

                        <ol
                            class="relative border-l border-gray-200 dark:border-gray-700 mt-2"
                        >
                            <li class="mb-10 ml-4">
                                <div
                                    class="absolute w-3 h-3 bg-[#4AD7D1] rounded-full mt-1.5 -left-1.5 border border-[#4AD7D1] dark:border-gray-900 dark:bg-gray-700"
                                ></div>
                                <time
                                    class="mb-1 text-sm font-normal leading-none text-[#001730] "
                                    >February 2018</time
                                >
                                <h3
                                    class="bg-clip-text font-medium text-[#4AD7D1] text-lg sm:text-3xl"
                                >
                                    Software Engineer Intern at
                                    Reformed Church University
                                </h3>

                                <p
                                    class="mb-4 text-base font-normal mt-3 text-[#001730]"
                                >
                                    Developed and maintained code for in-house
                                    and client websites primarily using
                                    php,c#,laravel, Tested software for bugs and
                                    operating speed, fixing bugs and documenting
                                    processes to increase efficiency by 18%
                                </p>
                                <a
                                    href="#"
                                    class="inline-flex bg-[#4AD7D1] items-center py-2 px-4 text-sm font-medium text-[#001730] rounded-lg border border-gray-200  rounded text-sm  pulse"
                                    >Learn more
                                    <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon>
                                    </a>
                            </li>

                            <li class="ml-4">
                                <div
                                    class="absolute w-3 h-3 bg-[#4AD7D1] rounded-full  -left-1.5 border border-[#4AD7D1] dark:border-gray-900 dark:bg-gray-700"
                                ></div>
                                <time
                                    class="mb-1 text-sm font-normal leading-none text-[#001730]"
                                    >April 2020 - Current</time
                                >
                                <h3
                                    class="bg-clip-text font-medium text-[#4AD7D1] text-lg sm:text-3xl"
                                >
                                    Back-End Developer at 365 Solutions
                                </h3>
                                <p
                                    class="text-base font-normal text-[#001730]  mt-3"
                                >
                                    Build out major features of 365 Solution's
                                    customer s back-end, utilizing C#,asp.net
                                    core,restful apis.Building GraphQL Asp.net
                                    Web APIs for data querying that solved
                                    customer complains by 30%. Build a backend
                                    for a microservice using Restful services
                                    ,graphQL services and Grpc Services running
                                    over 50 micro services and hosted as
                                    containers on Azure
                                </p>
                                <a
                                    href="#"
                                    class="inline-flex items-center bg-[#4AD7D1] py-2 px-4 mt-2 text-sm font-medium text-[#001730] rounded-lg border border-gray-200  inline-flex border-0 py-2 px-6 rounded text-sm pulse"
                                    >Learn more
                                    <mat-icon svgIcon="heroicons_solid:arrow-sm-right"></mat-icon></a>
                            </li>
                        </ol>
                    </div>
                    <div class="ml-3 mt-10 mb-10 sm:mt-2 sm:ml-13">
                        <div
                            class="flex sm:items-center sm:space-x-2 font-semibold text-gray-900 leading-8 mb-3"
                        >
                            <span clas="text-[#001730]">
                                <img
                        class="w-10"
                        src="assets/images/image3.png"
                        alt="Logo image">
                            </span>
                            <span class="tracking-wide text-[#4AD7D1] font-bold text-lg sm:text-2xl"
                                >Education</span
                            >
                        </div>
                        <ul class="list-inside space-y-2 mt-2">
                            <li>
                                <div
                                    class="bg-clip-text font-medium text-[#4AD7D1] text-lg sm:text-3xl"
                                >
                                    Bachelor's Degree in Information Systems
                                </div>
                                <div class="text-[#001730]  mt-2 text-2xl">
                                    Great Zimbabwe University
                                </div>
                                <div class="text-[#001730]  text-lg mt-2">
                                    March 2016 - Nov 2019
                                </div>
                                <div class="text-[#001730]  text-base mt-2">
                                    Degree Class: 2.1
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of Experience and education grid -->
            </div>
        </div>
    </div>
</div>
