<div class="pt-6 px-2 bg-[#FFFFFF]">

    <div class="relative flex-0 py-8 px-4 sm:p-7 overflow-hidden bg-[#FFFFFF] dark">
       
        <div class="z-10 relative flex flex-col items-center">
            
            <div class="mt-1 text-3xl sm:text-3xl text-[#1D7D81] font-extrabold tracking-tight leading-tight text-center">
                Education and Certificates
            </div>
           
        </div>
    </div>

    <div class="w-full  grid grid-cols-1 mt-3 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
        <div class="bg-[#FFFFFF] shadow rounded-lg p-4 sm:p-6 xl:p-8 ">

            
<ol class="relative border-l border-[#FCAC14] dark:border-gray-700">                  
    <li class="mb-10 ml-6">            
        <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#FCAC14] rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <mat-icon svgIcon="heroicons_solid:calendar" class="icon-size-4 text-white"></mat-icon>
        </span>
        <h3 class="flex items-center mb-1 bg-clip-text text-[#0C3353] font-semibold text-lg sm:text-3xl">Bachelor's Degree in Information Systems</h3>
        <time class="block mb-2 text-sm font-normal leading-none text-[#001730] dark:text-gray-500">Graduated on November 13th, 2019</time>
        <p class="mb-4 text-base font-normal text-[#001730] dark:text-gray-400">Great Zimbabwe University</p>
        <p class="mb-4 text-base font-normal text-[#001730]0 dark:text-gray-400">Degree Class : 2.1</p>
        <a href="#" class="inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-[#FCAC14] rounded text-lg  bg-[#FCAC14] pulse">
            <mat-icon svgIcon="heroicons_solid:document-download" class="icon-size-4 text-white"></mat-icon> Download ZIP</a>
    </li>
    <li class="mb-10 ml-6">
        <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#FCAC14] rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <mat-icon class="icon-size-4 text-white" svgIcon="heroicons_solid:calendar"></mat-icon>
        </span>
        <h3 class="mb-1 bg-clip-text text-[#0C3353] font-semibold text-lg sm:text-3xl">AZ-900: Microsoft Azure<span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Latest</span></h3>
        <time class="block mb-2 text-sm font-normal leading-none text-[#001730] dark:text-gray-500">Granted on December 7th, 2021</time>
        <p class="text-base mb-4 font-normal text-[#001730] dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
        <a href="#" class="inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-[#FCAC14] rounded text-lg  bg-[#FCAC14] pulse">
            <mat-icon svgIcon="heroicons_solid:document-download" class="icon-size-4 text-white"></mat-icon> Download ZIP</a>
    </li>
    <li class="ml-6">
        <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#FCAC14] rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <mat-icon class="icon-size-4 text-white" svgIcon="heroicons_solid:calendar"></mat-icon>
        </span>
        <h3 class="mb-1 bg-clip-text text-[#0C3353] font-semibold text-lg sm:text-3xl">Foundations of User Experience (UX) Design
            <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Latest</span></h3>
        <time class="block mb-2 text-sm font-normal leading-none text-[#001730] dark:text-gray-500">Released on Mar 17, 2022</time>
        <p class="text-base mb-4 font-normal text-[#001730] dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
        <a href="#" class="inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-[#FCAC14] rounded text-lg  bg-[#FCAC14] pulse">
            <mat-icon svgIcon="heroicons_solid:document-download" class="icon-size-4 text-white"></mat-icon> Download ZIP</a>
    </li>
</ol>


        </div>

        <div class="bg-[#FFFFFF] shadow rounded-lg p-4 mb-5 sm:mb-1 sm:p-6 xl:p-8 ">

            

            <ol class="relative border-l border-[#FCAC14] dark:border-gray-700">                  
                <li class="mb-10 ml-6">            
                    <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#FCAC14] rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <mat-icon class="icon-size-4 text-white" svgIcon="heroicons_solid:calendar"></mat-icon>
                    </span>
                    <h3 class="mb-1  bg-clip-text text-[#0C3353] font-semibold text-lg sm:text-3xl">AWS Cloud Technical Essentials <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Latest</span></h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-[#001730] dark:text-gray-500">Released on January 13th, 2022</time>
                    <p class="mb-4 text-base font-normal text-[#001730] dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce &amp; Marketing pages.</p>
                    <a href="#" class="inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-[#FCAC14] rounded text-lg  bg-[#FCAC14] pulse">
                        <mat-icon svgIcon="heroicons_solid:document-download" class="icon-size-4 text-white"></mat-icon> Download ZIP</a>
                </li>
                <li class="mb-10 ml-6">
                    <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#FCAC14] rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <mat-icon class="icon-size-4 text-white" svgIcon="heroicons_solid:calendar"></mat-icon>
                    </span>
                    <h3 class="mb-1 bg-clip-text text-[#0C3353] font-semibold text-lg sm:text-3xl"> Practical understanding of
                        C#</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-[#001730] dark:text-gray-500">Released on December 7th, 2022</time>
                    <p class="text-base mb-4 font-normal text-[#001730] dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-[#FCAC14] rounded text-lg  bg-[#FCAC14] pulse">
                        <mat-icon svgIcon="heroicons_solid:document-download" class="icon-size-4 text-white"></mat-icon> Download ZIP</a>
                </li>
                <li class="ml-6">
                    <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-[#FCAC14] rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <mat-icon class="icon-size-4 text-white" svgIcon="heroicons_solid:calendar"></mat-icon>
                    </span>
                    <h3 class="mb-1  bg-clip-text text-[#0C3353] font-semibold text-lg sm:text-3xl">Foundations of Project Management</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-[#001730] dark:text-gray-500">Released on December 2nd, 2022</time>
                    <p class="text-base mb-4 font-normal text-[#001730] dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                    <a href="#" class="inline-flex text-white border-0 py-2 px-6 focus:outline-none hover:bg-[#FCAC14] rounded text-lg  bg-[#FCAC14] pulse">
                        <mat-icon svgIcon="heroicons_solid:document-download" class="icon-size-4 text-white"></mat-icon> Download ZIP</a>
                </li>
            </ol>
            

        </div>




    </div>
</div>